# only binary files in this repo
*.sh
*.go
*.ts
*.vue
*.md
*.yml
*.yaml
*.json
*.js
*.env*
*.conf
*.toml
Dockerfile
patches/
drive-server/
mongo-init/
.DS_Store
._*
.mongo_initialized
.influx_initialized
.backup_web/
node_modules/
.idea/
.vscode/
