patches/
*.go
*.ts
*.vue
*.md
Dockerfile
one-click-deploy.sh
one-click-docker.sh
one-click-start.sh
dev.sh
server-start.sh
start-mac.sh
deploy.sh
claude.md
drive-server/

.DS_Store
._*
.mongo_initialized
.influx_initialized
.backup_web/
.env
node_modules/
.idea/
.vscode/
*.swp
